body {

 background-image: linear-gradient(to bottom right, blue, grey);
border-style: outset;
border-color: black;
border-width: 10px;
border-radius: 100px;



}

h1 {
  text-size: 160%;
  color: black;
  text-align: center;
}

h2 {
color: black;
text-align: center;

}

p {
  color: black;
  font-family: verdana;
  font-size: 20px;


}
a
{
  color: black;
  background-image: linear-gradient(to bottom, yellow, grey);
}

img {

  opacity: 1;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
